<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.mapper.TaskMembersMapper">
    
    <resultMap type="TaskMembers" id="TaskMembersResult">
        <result property="taskMemberId"    column="task_member_id"    />
        <result property="taskId"    column="task_id"    />
        <result property="userId"    column="user_id"    />
        <result property="assignedAt"    column="assigned_at"    />
    </resultMap>

    <sql id="selectTaskMembersVo">
        select task_member_id, task_id, user_id, assigned_at from task_members
    </sql>

    <select id="selectTaskMembersList" parameterType="TaskMembers" resultMap="TaskMembersResult">
        <include refid="selectTaskMembersVo"/>
        <where>  
            <if test="taskId != null "> and task_id = #{taskId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="assignedAt != null "> and assigned_at = #{assignedAt}</if>
        </where>
    </select>
    
    <select id="selectTaskMembersByTaskMemberId" parameterType="Long" resultMap="TaskMembersResult">
        <include refid="selectTaskMembersVo"/>
        where task_member_id = #{taskMemberId}
    </select>

    <insert id="insertTaskMembers" parameterType="TaskMembers" useGeneratedKeys="true" keyProperty="taskMemberId">
        insert into task_members
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskId != null">task_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="assignedAt != null">assigned_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskId != null">#{taskId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="assignedAt != null">#{assignedAt},</if>
         </trim>
    </insert>

    <update id="updateTaskMembers" parameterType="TaskMembers">
        update task_members
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="assignedAt != null">assigned_at = #{assignedAt},</if>
        </trim>
        where task_member_id = #{taskMemberId}
    </update>

    <delete id="deleteTaskMembersByTaskMemberId" parameterType="Long">
        delete from task_members where task_member_id = #{taskMemberId}
    </delete>

    <delete id="deleteTaskMembersByTaskMemberIds" parameterType="String">
        delete from task_members where task_member_id in 
        <foreach item="taskMemberId" collection="array" open="(" separator="," close=")">
            #{taskMemberId}
        </foreach>
    </delete>
</mapper>